name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Docker login 
        run: docker login -u="ashisparida" -p="ashis@7077"
      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag ashisparida/gitpush:$GITHUB_SHA 
      - name: Docker push 
        run: docker push ashisparida/gitpush:$GITHUB_SHA
